.tag {
    background-color: lightgray;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 0.33em;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 4px;
    user-select: none;
    white-space: nowrap;
}
