.tag {
    display: inline-block;
    white-space: nowrap;
    border-radius: 0.33em;
    box-sizing: border-box;
    padding: 2px 4px;
    margin: 0 2px;
    background-color: lightgray;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
