<div id="searchbar">
  <div class="input-group">
    <div class="input-group-prepend btn-group" ngbDropdown role="group">
      <div class="input-group-text">🔍</div>
      <button class="btn btn-light dropdown-toggle-split" ngbDropdownToggle></button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <div class="saved-searches">
          <button *ngFor="let savedSearch of savedSearches" ngbDropdownItem (click)="query = '{' + savedSearch.name + '}'; search()">{{savedSearch.name}}</button>
        </div>
      </div>
    </div>
    <input class="form-control" type="text" [(ngModel)]="query" (keypress)="searchKeyPress($event)" autocapitalization="off" autocorrect="off" autocomplete="off" />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="search()">Search</button>
    </div>
  </div>
  <div id="tools" *ngIf="resultsPage.length">
    <div class="btn-group" ngbDropdown role="group">
      <button class="btn btn-light" (click)="rate('')">Rate</button>
      <button class="btn btn-light dropdown-toggle-split" ngbDropdownToggle></button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <div class="rating-categories">
          <button *ngFor="let category of ratingCategories" ngbDropdownItem (click)="rate(category)">{{category}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="results">
  <div *ngFor="let result of resultsPage" [ngClass]="{ 'result': true, 'selected': result === selectedItem }" (click)="select(result)">
    <div>
      <input type="checkbox" [checked]="selectedHashes[result.hash]" (change)="toggleCheck($event, result)" (click)="stopClick($event)" />
    </div>
    <div>
      {{result.paths[0] | fileName}}
      <br />
      <app-heart [favorite]="result.tags.indexOf('favorite') > -1" (favorited)="favorite(result)" (unfavorited)="unfavorite(result)"></app-heart>
      <app-stars [rating]="result.rating?.value" [starRanges]="starRanges"></app-stars>
      <app-person-list [people]="result.people"></app-person-list>
      <app-tag-list [tags]="result.tags" [excludeFavorite]="true"></app-tag-list>
    </div>
  </div>
</div>
<app-preview [searchResult]="previewItem ? selectedItem : null" (requestClose)="closePreview()" (requestPrevious)="previous()" (requestNext)="next()"></app-preview>
<app-compare [category]="ratingCategory" [searchResults]="compareResults" (requestClose)="closeCompare()"></app-compare>
