
<style>
    html, body {
        margin: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    body {
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #results {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
    }

    .result {
        cursor: pointer;
        padding: 5px 10px;
        border: 0px solid #eee;
        border-bottom-width: 1px;
    }

    .person, .tag {
        display: inline-block;
        white-space: nowrap;
        border-radius: .25rem;
        padding: 2px 4px;
        margin: 0 2px;
    }

    .person {
        background-color: tan;
    }

    .person img {
        max-height: 16px;
        vertical-align: middle;
    }

    .tag {
        border: 1px solid lightgray;
        box-sizing: border-box;
    }

    .selected {
        background-color: whitesmoke;
    }

    #preview {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .preview {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
    }

    .heart {
        width: 1.5em;
        height: 1.1em;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    .heart svg {
        width: 100%;
        height: 100%;
        stroke: red;
        fill: red;
        fill-opacity: 0;
    }

    .heart:hover svg, .heart.fake-hover svg {
        fill-opacity: 1;
        stroke: none;
        animation: sinus 0.8s infinite;
        animation-delay: 0.5s;
    }

    .heart.favorite svg {
        fill-opacity: 1;
        stroke: none;
    }

    .heart.favorite:hover svg, .heart.favorite.fake-hover svg {
        animation: none;
        transform: scale(0.5);
    }

    .heart.favorite.still-hover svg {
        transform: scale(1.3);
        fill-opacity: 1;
    }

    .heart.still-hover svg {
        animation: none;
        transform: scale(0.5);
        fill-opacity: 0;
        stroke: red;
    }

    /* From https://en.wikipedia.org/wiki/Sinus_rhythm#/media/File:SinusRhythmLabels.svg */
    @keyframes sinus {
        0% { transform: scale(1); }
        7% { transform: scale(1); }
        12% { transform: scale(1.08); animation-timing-function: ease-in; }
        16% { transform: scale(1); animation-timing-function: ease-out; }
        21% { transform: scale(1); }
        23% { transform: scale(0.89); }
        24% { transform: scale(1.8); }
        26% { transform: scale(0.78); }
        28% { transform: scale(1); }
        35% { transform: scale(1); }
        40% { transform: scale(1.15); animation-timing-function: ease-in; }
        43% { transform: scale(1); animation-timing-function: ease-out; }
        100% { transform: scale(1); }
    }
</style>

<div id="searchbar">
  <input id="q" type="text" value="" /><button id="search" type="button">Search</button>
</div>
<div id="results">
</div>
<div id="preview" style="display: none;">
</div>

<script>
    var Client = {
        search: function (q) {
            return $.ajax("files?q=" + encodeURIComponent(q));
        },
        addTag: function (hash, tag) {
            return $.ajax({
                type: "PUT",
                url: "files/" + encodeURIComponent(hash) + "/tags/" + encodeURIComponent(tag),
            });
        },
        removeTag: function (hash, tag) {
            return $.ajax({
                type: "DELETE",
                url: "files/" + encodeURIComponent(hash) + "/tags/" + encodeURIComponent(tag),
            });
        },
    };

    $body = $("body");
    $q = $("#q");
    $results = $("#results");
    $preview = $("#preview");

    $("#search").on("click", function () {
        refreshGrid($q.val());
        return false;
    });

    $body.on("click", ".heart", function () {
        var $clicked = $(this);
        var $parent = $clicked.closest("[data-hash]");
        var searchResult = $parent.data("searchResult");
        var hash = searchResult ? searchResult.hash : $parent.data("hash");

        if ($clicked.hasClass("favorite")) {
            $clicked.removeClass("favorite");
            if (hash) {
                $('[data-hash="' + hash + '"] .heart.favorite').removeClass("favorite");
                var tagIndex;
                if (searchResult && (tagIndex = $.inArray("favorite", searchResult.tags)) > -1) {
                    searchResult.tags.splice(tagIndex, 1);
                }

                Client.removeTag(hash, "favorite").done(function () {
                }).fail(function () {
                });
            }
        } else {
            $clicked.addClass("favorite");
            if (hash) {
                $('[data-hash="' + hash + '"] .heart').addClass("favorite");
                if (searchResult && $.inArray("favorite", searchResult.tags) == -1) {
                    searchResult.tags.unshift("favorite");
                }

                Client.addTag(hash, "favorite").done(function () {
                }).fail(function () {
                });
            }
        }

        $clicked.addClass("still-hover");
        return false;
    }).on("mouseleave", ".heart", function () {
        var $left = $(this);
        $left.removeClass("still-hover");
    });

    $body.on("click", ".result", function () {
        selectResult($(this));
        return false;
    }).on("click", "#preview", function () {
        closePreview();
        return false;
    });

    var touchstart = null;
    var swipeThreshold = 30;
    $preview.on("touchstart", function (event) {
        if (event.changedTouches.length == 1) {
            touchstart = {
                x: event.changedTouches[0].screenX,
                y: event.changedTouches[0].screenY,
                t: new Date(),
            };
        } else {
            touchstart = null;
        }
    });

    $preview.on("touchend", function (event) {
        if (touchstart && new Date() - touchstart.t < 500) {
            var dx = event.changedTouches[0].screenX - touchstart.x;
            var dy = event.changedTouches[0].screenY - touchstart.y;

            if ((dx * dx) + (dy * dy) > (swipeThreshold * swipeThreshold)) {
                if (Math.abs(dx) >= Math.abs(dy) * 1.5) {
                    move(-Math.sign(dx));
                }
            }
        }

        touchstart = null;
    });

    document.onkeydown = function (event) {
        if ($preview.is(":visible")) {
            switch(e.which) {
                case 37:
                    movePrev();
                    break;

                case 39:
                    moveNext();
                    break;
            }

            event.preventDefault();
            event.stopPropagation();
        }
    };

    var searchVersion = 0;
    function refreshGrid(q) {
        var version = ++searchVersion;
        Client.search(q).done(function (data) {
            if (version == searchVersion) {
                data.forEach(function (item) {
                    item.tags.sort((a, b) => {
                        if ((a == "favorite") != (b == "favorite")) {
                            return b == "favorite" ? 1 : -1;
                        } else if (a > b) {
                            return 1;
                        } else if (b > a) {
                            return -1;
                        }

                        return 0;
                    });
                });

                $results.empty();
                $results.append(data.map(itemTemplate));
            }
        });
    }

    function moveNext() {
        move(1);
    }

    function movePrev() {
        move(-1);
    }

    function move(dir) {
        $selected = $results.find("> .selected");
        $sibling = dir > 0 ? $selected.next() : $selected.prev();
        selectResult($sibling);
    }

    function selectResult($result) {
        $results.find("> .selected").removeClass("selected");
        $preview.empty();
        var result = $result[0];
        if (result) {
            $preview.append(previewTemplate($result.addClass("selected")));
            showPreview();
            result.scrollIntoView();
        } else {
            closePreview();
        }
    }

    function showPreview() {
        $preview.show();
        //$preview[0].requestFullscreen();
    }

    function closePreview() {
        //document.exitFullscreen();
        $preview.hide();
    }

    function itemTemplate(item) {
        var name = /[^\\\/]+$/g.exec(item.paths[0])[0];
        var $result = $('<div class="result" />')
            .text(name || item.hash)
            .data("searchResult", item)
            .data("name", name)
            .attr("data-hash", item.hash);

        $result.append("<br />");
        $result.append(heartTemplate(item.tags.indexOf("favorite") > -1));
        $result.append(peopleTemplate(item.people));
        $result.append(tagsTemplate(item.tags, true));

        return $result;
    }

    function tagsTemplate(tags, excludeFavorite) {
        return tags.reduce(function (list, t) {
            if (t == "favorite") {
                if (!excludeFavorite) {
                    list.push(heartTemplate(true));
                }
            } else {
                list.push($('<span class="tag" />').text(t));
            }

            return list;
        }, []);
    }

    function peopleTemplate(people) {
        return people.map(function (p) {
            var $person = $('<span class="person" />').text(p.name);
            p.aliases.forEach(function (a) {
                if (a.site) {
                    $person.append(
                        $("<img />").attr("src", "http://" + a.site + "/favicon.ico").attr("title", a.name));
                }
            });
            return $person;
        });
    }

    function heartTemplate(favorite) {
        $heart = $('<div class="heart"><svg><use xlink:href="#heart" /></svg></div>');

        if (favorite) {
            $heart.addClass("favorite");
        }

        return $heart;
    }

    function previewTemplate($result) {
        var name = $result.data("name");
        var item = $result.data("searchResult");
        var hash = item.hash;
        var fileType = item.fileType;
        var tags = item.tags;
        var url = "files/" + encodeURIComponent(hash);

        var $preview;
        if (fileType == "image" || fileType.startsWith("image/")) {
            $preview = $('<img class="preview" />')
                .attr("src", url);
        } else if (fileType == "video" || fileType.startsWith("video/")) {
            $preview = $('<video class="preview" autoplay controls muted />')
                .append($("<source />")
                    .attr("src", url)
                    .attr("type", fileType));
        }

        var $details = $("<div />")
            .data("searchResult", item)
            .data("name", name)
            .attr("data-hash", hash)
            .append(heartTemplate(tags.indexOf("favorite") > -1))
            .append(name || item.hash)
            .append(tagsTemplate(tags, true));

        return [
            $preview,
            $details,
        ];
    }
</script>

<div id="symbols" style="display: none;">
  <svg id="heart" viewBox="-1 0 34 29.6"><path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" /></svg>
</div>
