<div *ngIf="searchResult" id="preview" (click)="onClick()">
  <app-display [searchResult]="searchResult" class="preview"></app-display>
  <span class="close">&times;</span>
  <div class="details">
    <app-heart [favorite]="searchResult?.tags?.indexOf('favorite') > -1" (favorited)="favorite()" (unfavorited)="unfavorite()"></app-heart>
    <app-person-list [people]="searchResult?.people"></app-person-list>
    <app-tag-list-editor *ngIf="searchResult" [searchResult]="searchResult" [excludeFavorite]="true"></app-tag-list-editor>
  </div>
</div>
